:root {
    --primary-color: #2548e4;
    --text-dark: #000;
    --secondary-color: #efd62e;
    --text-light: #fff;
}

* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Lato",sans-serif;
}

header, main, footer, nav {
    max-width: 640px;   
}

header > div {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;    
}

nav {
    display: block;
    background-color: var(--primary-color);
    color: var(--text-light);
}

nav ul {
    list-style-type: none;
    font-size: 1.25rem;
}
nav li {
    padding:.75rem;
}
nav a {
    display: block;
    color: var(--text-light);
    text-decoration: none;
    text-align: center;
}


#hamburgerbtn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: .25rem 2vw;
}

#hamburgerbtn.open {
    text-align: right;
}

#hamburgerbtn::before {
    content: "\2630";
}
#hamburgerbtn.open::before {
    content:"\2716";
}

nav ul.menulinks {
    display: none;
}

nav ul.menulinks.open {
    display: block;
}

#heroimg, #menulogo {
    display: none;
}
#title {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}
#callToAction {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#join {
    padding: 20px;
    margin: 20px;
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
}

 #news {
    background-color: var(--primary-color);
    padding: 10px;

}
#currentEvents > h2 {
    color: var(--text-light);
    font-size: 2rem;
    text-align: center;
}

#currentEvents > article {
    background-color: var(--text-light);
    border: solid var(--primary-color) 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#memberSpotLight > h2 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}
#currentWeather {
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;

}

#memberSpotLight > article {
    border: solid 2px var(--text-dark);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#memberSpotLight > article > img {
    width: 8rem;
}

footer {
    background-color: var(--text-dark);
    color: var(--text-light);
    padding: 30px;
    text-align: center;
}

.card {
    border: solid 2px var(--text-dark);
    border-radius: 10px;
    overflow: hidden;
    margin: .2rem;
    padding: 1rem;
    display:flex;
    flex-direction: column;
}

picture {
    width: 100%;
    height:auto;
}

picture img {
    width: 100%;
    height:auto;
}

figure {
    margin: .5rem;
}
.card h3 {
    text-align: center;
}

.card p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.card a {
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
}

.card img {
    width: 75%;
    height: auto;
    margin: 0px auto 10px;
}

/*Form CSS*/
form {
    margin: 0 1rem 1rem;
}

form fieldset {
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem 2%;
}

form legend {
    color: var(--primary-color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    color: var(--text-dark);
    font-size: 1rem;
}

form div {
    margin: 1rem 0;
}

form label.top input, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: .75rem;
    color: var(--text-dark);
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .5rem 0;
    color: var(--text-dark);
}

form input.submitBtn {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-light);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    width: 90%;
    max-width: 35.5rem;
    margin:1rem 5%;
}

form label.top input:required {
    border-bottom: red solid 2px;
}

form label.top input:required:valid {
    border-bottom: green solid 2px;

}

form label.sbs input {
    margin: 0 .3rem;
}

#benefits > div {
    border: 1px solid var(--text-dark);
    border-radius: 15px;
    padding: 2rem;
    font-size: larger;
    margin: 1rem;
}

#bronze {
    background-color: #b08d57;
}

#silver {
    background-color: #BCC6CC;
}


#gold {
    background-color: #d4af37;
}


h1, h2, h3 {
    text-align: center;
}

h3 {
    padding-bottom: 1rem;
}