:root {
    --primary-color: #1E4881;
    --dark: #0C090B;
    --accent: #F6D013;
    --text-light: #fff;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather",serif;
}
header, main, footer, nav {
    max-width: 640px;
    margin: .1rem auto;
   
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: var(--text-light);
    background-color: var(--dark);
    position: relative;
}

#darkmode {
   font-weight: 600;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
    text-align: center;
    padding: .25rem 2vw;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#darkmode::before{
    content: "\263D";
}

#darkmode.dark::before {
    content:"\2600";
}

header div {
    grid-column: 1/2;
    margin: 1rem;
    display:flex;
    justify-content: flex-end;
}

#profilePhoto {
    border-radius: 50%;
    max-width: 150px;
}
header span {
    display: grid;
    grid-column: 2/3;
    font-size: 1.25rem;
    align-content: center;   
}

nav {
    display: block;
    background-color: var(--primary-color);
    color: var(--text-light);
}

nav ul {
    list-style-type: none;
    font-size: 1.25rem;
}
nav li {
    padding:.75rem;
}
nav a {
    display: block;
    color: var(--text-light);
    text-decoration: none;
    text-align: center;
}

nav > ul >li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .active{
    background-color: var(--accent);
}
nav > ul > li.active > a{
    color: var(--dark);
}

#hamburgerbtn {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: .25rem 2vw;
}
#hamburgerbtn.open {
    text-align: right;
}

#hamburgerbtn::before {
    content: "\2630";
}
#hamburgerbtn.open::before {
    content:"\2716";
}

nav ul.menulinks {
    display: none;
}

nav ul.menulinks.open {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    position: relative;
}

.hero picture {
    grid-row: 1/2;
    width: 100%;
    height: auto;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.herolabel p {
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 23%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1rem;
	border: 1px solid rgba(0,0,0,.75);
	box-shadow: 0 0 3rem var(--text-light);
	opacity: 0.75;
}



#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
}

#classTitle {
    grid-row: 1/2;
    grid-column: 1/3;
    border-bottom: solid 1px var(--dark);
    display: grid;
    margin: 10px 0px 0px 10px;
}

h1 {
    font-size: 1.5rem;
    justify-self: center;
    padding: .5rem;
}

#activities {
    grid-row: 2/3;

}

#info {
grid-row: 3/4;
}

.card {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--dark);
    border-radius: 5px;
    margin: .5rem;
    grid-column: 1/4;
}

.card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.card ul li {
    padding: .5rem;
}
.card a {
    text-decoration: none;
}

.card h2 {
    background-color: var(--dark);
    color: var(--text-light);
    margin: 0;
    padding:  15px 15px;
    font-size: 1.25rem;
    text-align: center;
}

.card div {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    padding:.75rem;
}

#map {
    padding: .5rem;
}

iframe {
    width: 100%;
    height: auto;
    min-height: 350px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 20px;
}

footer p {
    font-size: .75rem;
    padding: .5rem;
}

/*dark mode CSS*/

main.dark {
    background-color: var(--dark);
}

#classTitle.dark {
    border-color: var(--text-light);
}

h1.dark {
    color: var(--text-light);
}


section.card.dark{
    border: solid 2px var(--text-light);
    border-radius: 5px;
    margin: .5rem;
    color: var(--text-light);
    overflow: hidden;
}

section.card.dark h2 {
    background-color: var(--primary-color);
}

section.card.dark a {
    color: var(--accent);
}