@media screen and (min-width: 641px) {
    header, main, footer, nav {
        max-width: 960px;
        margin: .1rem auto;
       
    }
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #profilePhoto {
        border-radius: 50%;
        max-width: 150px;
    }

    header span {
        grid-column: 2/3;
        font-size: 3rem;
        vertical-align: center;
    }
    
    nav > ul.menulinks, nav > ul.menulinks.open{
        display: flex;
    }
    nav > ul > li{
        flex: 1 1 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #hamburgerbtn {
        display: none;
    }

    .hero picture {
        width: 100%;
        height: auto;
    }

    .hero img {
        width: 100%;
        height: auto;
    }
    #main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr auto;
    }

    h1 {
        grid-row: 2/3;
        justify-self: left;
    }

    #activities {
        grid-column: 1/2;
        grid-row: 3/4;
        box-shadow:2px 2px 5px #0c090b;

    }

    #info {
        grid-column: 2/3;
        grid-row: 3/4;
        box-shadow:2px 2px 5px #0c090b;

    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

}